#app-header {
  display: grid;
  width: 100%;
  color: #F0F0F0;
  background: transparent;
  text-shadow: 2px 2px 8px #0F0F0F;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

#divAppTaglines {
  flex: 1 0 100%;
  text-align: left
}
  
#button-audio {
  padding: 4px;
  background-color: #0F0F0F
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
  #app-header {
    flex-wrap: wrap
  }

  #app-logo {
    height: 64px;
    width: 64px
  }

  #app-header h1 {
    font-size: 1.25em;
    text-align: center
  }

  #app-header h4 {
    font-size: 0.75em;
    text-align: center
  }
}

@media screen and (max-width: 360px) {
  #app-header h4 {
    font-size: 0.75em;
    display: none
  }
}