#app-nav {
  padding: 8px;
  background-color: #4f4f4f;
  text-shadow: 2px 2px 8px #0f0f0f;
}

#app-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#app-nav li {
  margin: 2px;
  height: 32px;
  background: #4f4f4f;
  text-align: center;
  display: table;
}

#app-nav a {
  margin: auto;
  width: 144px;
  font-size: 16px;
  color: #f0f0f0;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

#app-nav a:hover,
#app-nav a:active {
  color: #f0f0f0;
  background-color: #4f4f4f;
  text-decoration: none;
}

#app-nav a:link,
#app-nav a:visited {
  height: 20px;
  color: #f0f0f0;
}

@media screen and (max-width: 480px) {
  #app-nav li {
    height: 32px;
  }

  #app-nav a {
    width: 72px;
    font-size: 10px;
  }
}
