#main-solarsystems {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  color: #dfdfdf;
}

#div-filters {
  display: flex;
  flex-wrap: wrap;
  background: #7f7f7f;
  padding: 24px;
}

#div-filter-stars {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  margin: 0 auto;
}

#div-filter-planets {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  margin: 0 auto;
}

.slider-label {
  margin: 24px 0;
}

#section-container {
  padding-top: 4px;
  height: 160px;
  overflow: scroll;
}

.div-virtual-list {
  list-style: none;
  background-color: #3f51b5;
}

.div-virtual-item {
  width: 90%;
  margin: auto;
  background-color: darkgreen;
}
