main {
  
}

#main-about {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/alpha-centauri-h.jpg");
  text-shadow: 1px 1px 32px #7F7F7F;
  padding: 12px 0
}

#div-content-wrapper {
  color: #0F0F0F;
  width: 75%;
  padding: 24px;
  background: #BFBFBF;
  border: 4px solid #7F7F7F;
  border-radius: 8px;
  max-width: 720px;
  text-align: justify;
  opacity: 0.9;
}

#main-about p {
  margin: 16px 0;
}

#main-about a:link,
#main-about a:visited {
  color: #2F2F2F;
  transition: color 0.5s
}

#main-about a:hover,
#main-about a:active {
  color: #6F6F6F
}

