#main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/crescent_03.jpg");
  text-shadow: 1px 1px 32px #7F7F7F;
  padding: 12px 0
}

.page {
  flex: 1 0 auto;
  flex-direction: column;
}
