nav {
  padding: 16px;
  background-color: #2F2F2F
}

nav ul {
  list-style: none
}

nav li {
  margin: 8px;
  display: inline-block
}

nav a {
  margin: auto;
  padding: 4px;
  width: 144px;
  color: #F0F0F0;
  text-decoration: none;
  display: inline-block
}

nav a:hover,
nav a:active {
  color: #F0F0F0;
  background-color: #4F4F4F;
  text-decoration: none
}

nav a:link,
nav a:visited {
  color: #F0F0F0
}
