#ul-star-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  min-width: 288px
}

#ul-star-list li {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 10px;
  height: 80px;
  width: 80px;
  background: navy;
  overflow: hidden;
  border-radius: 4px;
  transition: background 0.15s
}

#ul-star-list li:hover {
  background: blue
}