#app-footer {
    width: 100%;
    padding: 0.75rem 0;
    color: #DFDFDF;
    text-align: center;
    background-color: transparent;
  }
  
  #app-footer h4 {
    margin: 0.25rem;
    cursor: default;
  }
  
  #div-logo-wrapper {
    display: flex;
    justify-content: center
  }
  
  .fa-logo {
    margin: 8px
  }
  
  #svg-sjb {
    margin: 4px
  }
  
  #svg-sjb circle,
  #svg-sjb polygon {
    fill: #DFDFDF;
    transition: fill 0.5s
  }
  
  #svg-sjb:hover circle,
  #svg-sjb:hover polygon {
    fill: goldenrod
  }
  