.page-home {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/apollo.jpg");
  text-shadow: 1px 1px 32px #BBB;
  color: #DDD;
}

.page-home header {
  margin: 16px;
}

.page-home h1 {
  font-size: 6.5vw;
}

.page-home h2 {
  font-size: 3.33vw;
}

.page-home nav {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.page-home ul {
  width: 100%;
  padding: 0 2rem;
  list-style: none
}

.page-home ul li {
  margin: 1rem 0;
  text-align: right;
  font-weight: bold
}

.page-home a:link,
.page-home a:visited {
  color: #909090;
  text-decoration: none;
  transition: color 0.5s;
}

.page-home a:hover,
.page-home a:active {
  color: #E0E0E0
}

.page-home footer h4 {
  font-size: initial;
}

@media screen and (min-width: 960px) {
  .page-home {
    padding: 1rem 0
  }

  .page-home h1 {
    //  font-size: 4rem;
  }

  .page-home h2 {
    font-size: 1.5rem;
 }
}