* {
  margin :0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

#app-logo {
  margin: 16px;
  height: 96px;
  width: 96px;
  animation: app-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #2F2F2F;
  height: 150px;
  padding: 20px;
  color: #F0F0F0
}

.App-intro {
  font-size: large;
}

#app-header {
  width: 100%;
  color: #F0F0F0;
  background-color: #3F3F3F;
  align-items: center;
  display: flex
}

#h1-header,
#h2-header {
  text-align: left;
}

#button-audio {
  padding: 2px
}

nav {
  background-color: #2F2F2F
}

nav ul {
  list-style: none
}

nav li {
  margin: 8px;
  display: inline-block
}

nav a {
  margin: auto;
  width: 144px;
  color: #F0F0F0;
  text-decoration: none;
  display: inline-block
}

nav a:hover {
  color: #F0F0F0;
  background-color: #6b6e93;
  text-decoration: none
}

nav a:visited {
  color: #F0F0F0
}

main {
  flex: 1 0 auto
}

#app-footer {
  width: 100%;
  color: #F0F0F0;
  background-color: #0F0F0F;
  text-align: center
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
